body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
  opacity: 0;
  animation-name: fade;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  font-size: 80px;
  color: rgb(255, 255, 255, 09);
  font-family: 'Yellowtail', sans-serif;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 42px rgb(17, 255, 0),
    0 0 82px rgb(17, 255, 0);
  margin: 50px 0px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(19, 19, 19);
  padding: 100px 0px;
}
.box {
  width: 240px;
  height: 240px;
  background-color: rgb(91, 89, 89);
  border: solid 2px #aaa;
  margin: 10px;
  box-shadow: 0 0 10px #fff;
  border-radius: 10px;
  transition: background-color 1.5s;
}
.box:nth-child(6n):hover {
  background-color: #8e44ad;
  box-shadow: 0 0 20px #fff;
  transition-duration: 0s;
}
.box:nth-child(6n + 1):hover {
  background-color: #2196f3;
  box-shadow: 0 0 20px #fff;
  transition-duration: 0s;
}

.box:nth-child(6n + 2):hover {
  background-color: #43a047;
  box-shadow: 0 0 20px #fff;
  transition-duration: 0s;
}
.box:nth-child(6n + 3):hover {
  background-color: #e758cf;
  box-shadow: 0 0 20px #fff;
  transition-duration: 0s;
}
.box:nth-child(6n + 4):hover {
  background-color: #ef5350;
  box-shadow: 0 0 20px #fff;
  transition-duration: 0s;
}
.box:nth-child(6n + 5):hover {
  background-color: #eeff41;
  box-shadow: 0 0 20px #fff;
  transition-duration: 0s;
}
@keyframes fade {
  to {
    opacity: 1;
  }
}
